body {
    background-color:rgb(138, 13, 138);
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:flex;
    flex-direction:column;
    height:700px;
    /* grid-template-columns: repeat(10, 300px);
    grid-template-rows: repeat(15, 300px); */
    margin:0;
}


#newButton {
    border:none;
    border-radius: 30px;
    height: clamp(30px, 40px, 60px);
    width: clamp(50px, 80px, 100px); 
    margin-left:50px;
    margin-top:50px;
    background-color:rgb(170, 112, 223);
    grid-column: 2 / span 1;
    grid-row: 1 /span 1;
 }


#newButton:hover,
#delete:hover,
#read:hover {
    background-color:violet;
}

#delete {
    border: 1px solid black;
    height:20px;
    width:25px;
    background-color:rgb(138, 13, 138);
    margin-bottom:10px;
}

#read {
    border:1px solid green;
    height:20px;
    width:50px;
    background-color:rgb(138, 13, 138);
}

#form {
     text-align:center;
     box-sizing: border-box; 
     border:3px solid fuchsia;
     background-color: teal;
     width:300px;
     /* grid-column:3 / span 1;
     grid-row:1 / span 1; */
     padding-left:40px;
     margin-top:25px;
     margin-left:25px;
}

label {
    display:block;
    font-size:small;
    font-weight:bold;
    width:90px;
    padding-bottom:3px;

}

input {
    width: 200px; 
    height: 25px;
    border:#E5E7EB;
    border-radius:5px;
    margin-bottom:10px;
    border: black 1px;
}

#library {
    display:flex;
    flex-wrap:wrap;
}

.card {
    border:3px solid black;
    text-align: center;
    margin:50px;
    width:300px;
}
